*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #aaafb1;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    border-radius: 2em;
}

.contenido{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.left1{
    height: 100%;
    background: url(../img/banco.jpg) no-repeat center;
    background-size: cover;
    border-radius: 2em 0 0 2em;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.274);
}

.left2{
    height: 100%;
    background: url(../img/banco2.jpg) no-repeat center;
    background-size: cover;
    border-radius: 2em 0 0 2em;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.274);
}

.right{
    padding: 25px 40px;
    background-color: white;
    border-radius: 0 2em 2em 0;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.274);
}

h2{
    font-family: "Montserrat";
    color: #606f86;
    font-weight: 600;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 15px;
}

label{
    display: block;
    font-size: 1.2em;
    position: relative;
    font-family: "Montserrat";
    text-align: left;
}

.saldo{
    display: block;
    font-size: 1.2em;
    position: relative;
    font-family: "Montserrat";
    text-align: left;
}

input{
    width: 100%;
    padding: 0.5em;
    margin: .6em;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: "Montserrat";
    border: 1px solid black;
    border-radius: .3em;
}

input:hover{
    background-color: rgba(128, 128, 128, 0.253);
}

.list{
    width: 100%;
    padding: 0.5em;
    margin: .6em;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: "Montserrat";
    border: 1px solid black;
    border-radius: .3em;
    
}

.list:hover{
    background-color: rgba(128, 128, 128, 0.253);
}

.btn {
    background-color: #606f86;
    color: white;
    font-family: "Montserrat";
    border-radius: .5em;
    width: 100%;
    text-align: center;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px 0 20px 10px;
    border: none;
    font-size: 1.1em;
}

.obtn {
    background-color: #606f86;
    color: white;
    font-family: "Montserrat";
    border-radius: .5em;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px 0 20px 10px;
    border: none;
    font-size: 1.1em;
}

.btn:hover{
    background-color: #6684b1;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 5px #aaafb1;
}
.obtn:hover{
    background-color: #6684b1;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 5px #aaafb1;
}

@media screen and (max-width:880px){
    .contenido{
        grid-template-columns: 1fr;
    }

    .left{
        height: 200px;

    }


}