body{
  font-family: 'montserrat';
}

 
li{
    font-size: 18px!important;
}

figure img {
  filter: brightness(0.75);
    transition: filter 0.3s;
}

figure:hover img {
    filter: brightness(0.75); /* Ajusta el valor para la oscuridad deseada */
}
