:root {
    --color-primario: #0095a0;
    --sombras: #323232;
    --border: #dfdfdf;
    --title: #282D31;
    --description: #53575A;
    --background-color: rgb(255, 255, 255);
}

.card-grid {
    margin: 0 10%;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fill, minMax(350px, 1fr));
}

.card {
    background-color: var(--background-color);
    border-radius: .5em;
    border: 1px solid var(--border);

}

.card-img img {
    width: 100%;
    border-radius: .5em .5em 0 0;
}

.card-content {
    padding: 0 1.1em 1.1em 1.1em;
    text-align: center;
}

.card-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.2em;
    font-style: var(--title);
    text-transform: uppercase;
    text-align: center;
}

.card-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    font-style: var(--description);
    line-height: 1.5;
    justify-content: center;
}

.card-btn {
    padding: .5em 1em;
    background-color: var(--color-primario);
    text-decoration: none;
    border-radius: 1em;
    color: var(--background-color);
    font-weight: bold;
    margin: 0 1em;
    display: inline-block;
    text-align: center;
}
.card-btn:hover{
    background-color: #a00070;
    transition: background-color .1s ease-in-out;
}

.card{
    overflow: hidden;
}
.card-img:hover{
    transform: scale(1.2);
    overflow: hidden;
    transition:all .2s ease-in-out;
}

/*Matricula*/
.titulo{
    display: inline;
}
.titulo-2{
    color: rgb(179, 0, 0);
}

i{
    size: 32px;
}

.titulo-form{
    background-color: #72a74f;
    padding: .5em;
    text-align: center;
}